ENV=dev
DEBUG=true
CORS_ORIGINS=http://localhost:3000

GOOGLE_CLIENT_ID="..."
GOOGLE_CLIENT_SECRET="..."
GOOGLE_REDIRECT_URI="http://127.0.0.1:8000/auth/google/callback"
BASE_FRONTEND_URL="http://127.0.0.1:5173"
