ENV=dev
DEBUG=true
CORS_ORIGINS=http://localhost:3000

GOOGLE_CLIENT_ID="..."
GOOGLE_CLIENT_SECRET="..."
GOOGLE_REDIRECT_URI="http://127.0.0.1:8000/auth/google/callback"
BASE_FRONTEND_URL="http://127.0.0.1:5173"

MPESA_CONSUMER_KEY=xxx
MPESA_CONSUMER_SECRET=xxx
MPESA_SHORTCODE=xxxxxx
MPESA_PASSKEY=xxxxxx
MPESA_BASE_URL=https://api.safaricom.co.ke
MPESA_CALLBACK_BASE=https://maonimarket.com

# Email Configuration (SMTP)
SES_SMTP_HOST=email-smt.....zonaws.com
SES_SMTP_PORT=587
SES_SMTP_USER=Adwgw..........dgwr2
SES_SMTP_PASS=tg24..........Fm+24g24d
EMAIL_FROM=no-reply@domain.com